# LLM API Keys
GROQ_API_KEY=your_groq_api_key_here

# Search API Keys
TAVILY_API_KEY=your_tavily_api_key_here

# PostgreSQL Database Connection
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ResearchAgent
